<div *ngFor="let patient of patients">
  <mat-card *ngIf="patient != null" style="margin: 5px">
    <mat-card-subtitle>{{patient.name}}'s info</mat-card-subtitle>
    <mat-card-content>
      Patient's Name: <b>{{patient.name}}</b><br>
      Age:<b>{{patient.age}}</b><br>
      Father's Name: <b>{{patient.fatherName}}</b><br>
      Caregiver: <b>{{patient.careGiver}}</b>
    </mat-card-content>
  </mat-card>
</div>
