<div style="margin: 20px">
  <form class="form-full-width">
    <div>

      <mat-form-field class="input-quarter-width">
        <input matInput placeholder="Patient's Name" [(ngModel)]="patient.name" name="fullName">
      </mat-form-field>

      <mat-form-field class="input-quarter-width">
        <input matInput placeholder="Age" type="number"  [(ngModel)]="patient.age" name="age">
      </mat-form-field>

      <mat-form-field class="input-quarter-width">
        <input matInput placeholder="Sex"  [(ngModel)]="patient.sex" name="sex">
      </mat-form-field>

      <mat-form-field class="input-quarter-width">
        <input matInput [matDatepicker]="picker" placeholder="Date"  [(ngModel)]="patient.date" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </div>

    <div>

      <mat-form-field class="input-full-width">
        <input matInput placeholder="Father Name"  [(ngModel)]="patient.fatherName" name="fatherName">
      </mat-form-field>

    </div>

    <div>

      <mat-form-field class="input-half-width">
        <input matInput placeholder="Block/Sub Block" [(ngModel)]="patient.block" name="block">
      </mat-form-field>

      &nbsp;
      &nbsp;

      <mat-form-field class="input-half-width">
        <input matInput placeholder="Caregiver" [(ngModel)]="patient.careGiver" name="careGiver">
      </mat-form-field>

    </div>
    <button (click)="createPatient()" mat-raised-button>Create Patient</button>
  </form>
</div>
